body{
    font-family: 'Lato', sans-serif;
}

:root {
    --lava: #AC1617;
    --gunmetal: #2C2F3A;
    --ablue: #E9F1F7;
    --black: #0A0A0A;
    --white: #ffffff;
    --alabaster: #F3EFE2;
    /* --headingfont: 'Highfield', serif; */
    /* --parafont: 'Lato', sans-serif; */
    /* --subheadingfont: 'Roboto Mono', monospace; */
}

.lava-color{
    color: var(--lava) !important;
}

.heading-font{
    font-size: 33px !important;
}

.sub-heading{
    font-size: 24px !important;
}

.lava-bg{
    background-color: var(--lava) !important;
}

.black-bg{
    background-color: var(--black) !important; 
}

.gunmetal-bg{
    background: var(--gunmetal) !important;
}

.white-bg{
    background: var(--white) !important;
}

/*--------------------------------------------------------------
                         Homepage 
--------------------------------------------------------------*/


.button .btn{
    text-transform: uppercase;
}

/*---------------- Hero Section Start ------------------------*/

.logo {
    /* margin: 0px 105px !important; */
}

.navbar-collapse {
    /* margin-right: 38px !important; */
    width: unset !important;
}

.navbar {
    background-color: var(--gunmetal);
}

.navbar-nav {
    background-color: var(--white);
}

.p-lr {
    padding: 0px !important;
}

.header .button .btn-h {
    /* height: 80px !important; */
    width: auto;
    color: var(--white) !important;
    border: none !important;
    border-radius: unset !important;
    line-height: 3 !important;
    text-transform: uppercase;
}

.button .btn-h:hover {
    transform: none !important;
}

.header .button .btn-a {
    background-color: var(--gunmetal) !important;
}

.header .button .btn-b {
    background-color: var(--lava) !important;
}

.fixed-txt {
    position: absolute;
    top: 27%;
    writing-mode: tb;
}

#hero-slider-ow .tns-nav {
    position: absolute;
    top: 25%;
    left: 0.5%;
}

.hero-inner .tns-outer .tns-nav button {
    display: block;
    outline: none;
    width: 5px;
    height: 5px;
    background-color: #6a6b71;
    margin: 25px 0px 40px 15px;
    border: 0;
    border-radius: 0.35rem;
}

#hero-slider-ow .tns-nav button.tns-nav-active {
    background-color: var(--white);
}

.slider-bg-img-a {
    background-image: url("../img/hero-a.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

.col-width {
    width: 3.33% !important;
}

.col-width-b {
    width: 93.33% !important;
    padding-left: 0px !important;
}

.col-bg {
    background-color: var(--gunmetal);
}

span.l-txt {
    color: var(--lava);
    text-decoration: underline;
    text-decoration-color: #c9181db3;
}

span.r-txt {
    text-decoration: underline;
    text-decoration-color: #081828a8;
}

p.hero-sub-txt {
    color: var(--white);
    font-size: 20px !important;
}

.fixed-txt h4 {
    font-size: 15px;
}

.hero-head {
    color: var(--white) !important;
}

.header .button .btn {
    padding: 12px 30px;
    height: 100% !important;
    display: flex;
    align-items: center;
}

.header .button {
    height: 100% !important;
}
/*---------------- Hero Section End ------------------------*/

/*---------- CTA + Counter Section Start -------------------*/

/* .cta {
    background-color: ;
} */

/*---------- CTA + Counter Section End ---------------------*/




.logo {
    margin-left: 92px;
    width: 150px;
    height: 100%;
}

.navbar-brand img {
    width: 85%;
    height: 100%;
}

.navbar{
    height: 70px;
}

.navbar-area{
    overflow: hidden;
}

.navbar-area{
    position: relative;
}


 /* .section-title .sub-heading::before {
    position: absolute;
    left: 0%;
    margin-left: -25px;
    bottom: -1px;
    height: 2px;
    width: 100%;
    background: #3763EB;
    content: "";
  } */

  .section-title h2{

  }

  .section-title .sub-heading {
    position: relative;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.5;
    border-left: 6px solid var(--lava);
    padding-left: 10px;
    text-align: left;
}

  /* .section-title .sub-heading::before {
    position: absolute;
    margin-left: -10px;
    height:100%;
    width: 6px;
    background: var(--lava);
    content: "";
} */



/* ==============hero cta section css start============= */

#hero-cta-section .brand-list::before{
    display: none;
}

#hero-cta-section .brand-list li h3{
    font-size: 35px;
    font-weight: 300;
}

#hero-cta-section .brand-list{
    border: none;
}

#hero-cta-section .brand-list li {
    -ms-flex-preferred-size: 33.33%;
    /* flex-basis: 20.33%; */
    width: 30%;
    padding-left: 20px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    border-left: 2px solid #fff;
    align-items: center;
    justify-content: space-between;
}

.cta-wrapper h3{
    margin-top: 20px;
}

#hero-cta-section{
    background-color: var(--alabaster);
    position: relative;
    top: -100px;
}

.cta-head-wrapper{
    width: 100%;
    height: 250px;
    background: var(--lava);
    padding: 60px;
    z-index: 99;
    position: relative;
}


.hero-area .hero-text{
    margin-top: -100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-area .hero-inner{
    height: 550px;
}

.hero-area .hero-text h3{
    font-size: 25px;
}

.hero-area .hero-text h2{
    font-size: 27px;
    font-weight: 300;
}

.hero-area .hero-text h1{
    font-size: 30px;
}

.hero-area .hero-text p{
    font-size: 22px !important;
    font-weight: 300;
}

.cta-head-wrapper h3{
    font-size: 35px;
}

#hero-cta-section .section-title{
    padding-left: 60px !important;
    text-align: left;
}

#hero-cta-section .brand-list li:first-child{
    border: none;
}

#hero-cta-section .brand-list li{
    /* padding-left: 30px; */
}

#hero-cta-section .brand-list li h2{
    font-size: 60px;
    font-weight: 300;
}

.cta-wrapper{
    width: 80%;
}

#hero-cta-section .button .btn{
    width: 20%;
    font-size: 20px;
}
/* ==============hero cta section css end============= */


/* ==============featured in css start======= */

.featured-img-wrapper img{
    width: 100%;
}

/* ==============featured in css end======= */


/* ============= latest-news-section start========*/
#latest-news-section{
    background-color: var(--black);
}

#latest-news-section .single-news .content-body .title{
    margin: 0;
}

#latest-news-section .single-news .content-body{
    background-color: var(--white);
    padding: 30px;
}

#latest-news-section .single-news .meta-details{
    border-radius: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#latest-news-section .single-news .meta-details > span{
    background-color: var(--lava);
    padding: 10px 35px;
}

#latest-news-section .single-news .meta-details span{
    font-weight: 600;
}

#latest-news-section .single-news .image{
    border-radius: 0;
}
/* ============= latest-news-section end========*/


/* ===========testimonial css start========== */

#testimonial-section{
}

.overlay::before{
    background-color: var(--black);
}

.testimonial-wrapper{
    row-gap: 30px;
    width: 80%;
    margin: 0 auto;
}

.testi-img-wrapper{
    width: 150px;
    height: 150px;
    /* border-radius: 50%; */
}

.testi-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.testi-bottom-wrapper{
    position: relative;
    z-index: 9;
    background: var(--lava);
    padding: 20px;
    column-gap: 20px;
    text-transform: uppercase;
}

.testi-bottom-wrapper p{
    /* font-size: 30px; */
    border-left: 6px solid var(--black);
    padding-left: 10px;
}

#testimonial-section{
    background-image:url(../images/testimonial/testi-bg.png);
    
}

#testimonial-section::before{
    opacity: 0.8;
}
/* ===========testimonial css end========== */


/* ==========why tajurba css start======== */

.grid-wrapper{
    width: 100%;
    height: 650px;
    row-gap: 20px;
}

.left-grid-wrapper .grids:first-child{
    height: 40%;
    background: linear-gradient(to top, var(--lava) 20%, transparent 100%), url(../images/why-tajurba/grow-business.png);
}

.grids{
    position: relative;
    width: 100%;
    background-size: cover !important;
    overflow: hidden;
}

.grids .grid-content{
    position: absolute;
    bottom: 0;
    padding: 40px;
    width: 100%;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    justify-content: center;align-items: center;
    transition: all 0.6s ease-in-out;
    height: 20%;
}

.grids .grid-content h3{
    text-transform: uppercase;
    line-height: 1.4;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
}

.left-grid-wrapper .grids:last-child{
    height: 60%;
    background: linear-gradient(to top, var(--gunmetal) 20%, transparent 100%), url(../images/why-tajurba/build-net.png);
}


.mid-grid-wrapper .grids:first-child{
    height: 60%;
    background: linear-gradient(to top, var(--gunmetal) 20%, transparent 100%), url(../images/why-tajurba/incubator.png);
}

.mid-grid-wrapper .grids:last-child{
    height: 40%;
    background: linear-gradient(to top, var(--lava) 20%, transparent 100%), url(../images/why-tajurba/industry-trends.png);
}

.right-grid-wrapper .grids:first-child{
    height: 50%;
    background: linear-gradient(to top, var(--lava) 20%, transparent 100%), url(../images/why-tajurba/grow-business.png);
}

.right-grid-wrapper .grids:last-child{
    height: 50%;
    background: linear-gradient(to top, var(--gunmetal) 20%, transparent 100%), url(../images/why-tajurba/angel-group.png);
}

.grids .grid-content p{
    display: none;
}
.grids:hover p{
    display: block;
}

.grids:hover .grid-content{
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.grids:hover  .grid-content h3{
    font-size: 25px;
}

.right-grid-wrapper .grids:first-child:hover .grid-content, .left-grid-wrapper .grids:first-child:hover .grid-content, .mid-grid-wrapper .grids:last-child:hover .grid-content{
    background: var(--lava);
}
.right-grid-wrapper .grids:last-child:hover .grid-content, .left-grid-wrapper .grids:last-child:hover .grid-content, .mid-grid-wrapper .grids:first-child:hover .grid-content{
    background: var(--gunmetal);
}


/* ==========why tajurba css end======== */




/* ========member program css start========== */

#member-program-section .member-grid-wrapper{
    padding: 60px;
    row-gap: 25px;
    height: 100%;
}

#member-program-section .left-grid-wrapper{
    background-color: var(--black);
}

#member-program-section .member-grid-wrapper p{
    font-size: 22px;
}

#member-program-section .member-grid-wrapper ul li{
    color: var(--white);
    opacity: 0.7;
    margin: 15px 0;
}

#member-program-section .member-grid-wrapper .button .btn{
    width: 100%;
}

#member-program-section .member-grid-wrapper p, #member-program-section .member-grid-wrapper h3{
    opacity: 0.9;
}

#member-program-section .mid-grid-wrapper{
    background: var(--lava);
}
#member-program-section .mid-grid-wrapper .btn{
    background: var(--white);
    color: var(--black);
}

#member-program-section .right-grid-wrapper{
    background: var(--alabaster);
}

#member-program-section .right-grid-wrapper ul li{
    color: var(--black);
}
/* ========member program css end========== */


/* ==========find-meeting- css start========== */

#find-meeting-section::before{
    background-color: #ffffff;
    opacity: 0.95;
}

.meeting-form{
    padding: 5%;
    padding-bottom: 0;
}

.meeting-form input, .participate-form-wrapper input{
    background-color: var(--black) !important;
    border: none !important;
    padding: 15px 30px;
    width: 30%;
    color: var(--white) !important;

}

.meeting-form input::placeholder, .participate-form-wrapper input::placeholder{
    color: var(--white) !important;
}

.meeting-form .button{
    width: 30%;
}

#find-meeting-section .btn{
    background-color: var(--lava);
    color: var(--white);
    width: 80%;
}
/* ==========find-meeting- css end========== */


/* =========upcoming event css start======== */

.event-content{
    position: absolute;
    width: 100%;
    padding: 12px 25px;
    background: var(--lava);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event-content h4, .event-content p{
    color: var(--white);
    text-transform: uppercase;
    font-size: 14px;
}

.event-content p{
    opacity: 0.9;
}

#upcoming-event-section{
    background: var(--alabaster);
}
/* =========upcoming event css end======== */


/* ======our blog css start========= */

#our-blog-section .meta-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#our-blog-section .meta-details span:first-child{
    text-decoration: underline;
    cursor: pointer;
}

#our-blog-section .single-news .image{
    border-radius: 0px;
    height: 200px;
}

#our-blog-section .single-news .image img{
    object-fit: cover;
    height: 100%;
}

#our-blog-section .single-news .content-body p {
    display: none;
}

#our-blog-section .single-news .content-body .title{
    font-weight: 400;
}

#our-blog-section .single-news .content-body{
    padding: 10px;
}

/* ======our blog css end========= */



/* ==========get in touch css start========= */

.contact-form-wrapper{
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    height: 100%;
}

.inputs-wrapper, .texts-wrapper{
    width: 50%;
}

.inputs-wrapper input{
    width: 80%;
    height: 100%;
}

.inputs-wrapper input, .texts-wrapper textarea{
    width: 80%;
    height: 100%;
    border-radius: 0 !important;
    background-color: transparent !important;
    border: 1px solid #fff;
    padding: 0px 20px;
    color: #fff !important;
}

.texts-wrapper textarea{
    padding-top: 10px;
}

.inputs-wrapper input::placeholder, .texts-wrapper textarea::placeholder{
    text-transform: uppercase !important;
}

.inputs-wrapper{
    row-gap: 15px;
    height: 100% !important;
    justify-content: space-between;
}

.texts-wrapper textarea, .texts-wrapper .button{
    width: 80%;
}

.texts-wrapper .button .btn{
    width: 100%;
}

.texts-wrapper textarea{
    height: 100%;
}

.texts-wrapper{
    height: 100%;
    justify-content: space-between;
    align-items: self-start;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
/* ==========get in touch css end========= */


/* ======footer css start======== */

#footer-section{
    background:linear-gradient(to top, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 100%), url(../images/footer-map.png);
    background-size: cover;
}

#footer-section .f-link ul li a, #footer-section .single-footer h3 {
    color: var(--black);
}

.footer-bottom{
    background: var(--lava);
}

.footer .single-footer h3{
        border-left:0;
        padding-left: 0px;
}

#footer-section .footer-first-column li a{
    font-weight: 600;
}

.footer .f-link ul li{
    color: var(--black);
}

.footer .f-link ul li a{
    text-transform: capitalize;
}

/* ======footer css end======== */




#nav{
    width: 100% !important;
    display: flex;
    align-items: center !important;
    justify-content: space-evenly;
}

.navbar-nav .nav-item{
    margin: 0px !important;
}

.header .button {
    width: 30%;
}

.sub-menu-bar{
    width: 100% !important;
}

.logo{
    width: 20%;
}

.navbar-nav .nav-item a {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}

.testimonial-wrapper h6{
    letter-spacing: 4px;
}

.testimonial-wrapper p{
    font-weight: 100;
    line-height: 1.7;
}

.testimonial-wrapper{
    position: relative;
}

.testimonial-wrapper::before{
    content: '';
    width: 100px;
    height: 75px;
    background: url(../images/testimonial/testi-vector.png);
    background-size: 100% 100%;
    position: absolute;
    top: 20%;
    left: 5%;
}

#get-in-touch-section{
    background: url(../images/contact-bg.png);
}

#get-in-touch-section::before{
    opacity: 0.75;
}

.footer .footer-bottom .inner p{
    font-size: 16px;
}

.footer .footer-bottom .inner p a:hover{
    color: #fff;
}


#next, #prev{
    font-size: 40px;
    position: absolute;
    top: 0;
    left: -10px;
    cursor: pointer;
    color: var(--lava);
    z-index: 9;
}

#featured-in-section #next, #testimonial-section #next, #upcoming-event-section #next, #blog_controlsContainer #next{
    right: 0;
    left: 100%;
}


#testimonial-section .tns-outer{
    position: relative;
    z-index: 9;
}

#testi_controlsContainer a{
    color: var(--white);
    top: 50%;
}

#upcoming_controlsContainer a{
    color: var(--black);
    top: 50%;
}

#upcoming-event-section #prev, #blog_controlsContainer #prev{
    left: -3%;
}

#upcoming-event-section #next, #blog_controlsContainer #next{
    right: 2%;
}

#blog_controlsContainer a{
    color: var(--black);
    top: 50%;
}

/* ===========contact page css start========== */

.contact-us .contact-head{
    border-radius: 0;
}


.contact-us .form-main {
    padding-left: 120px;
    padding-right: 100px;
}

.contact-us .contant-inner-title p{
    color: var(--black);
}

.contact-us .form .form-group input, .contact-us .form .form-group textarea{
    border: none;
    border-bottom: 1px solid #0a0a0a42;
    border-radius: 0;
}

.contact-us .form .form-group textarea {
    height: auto;
}

.contact-us .form .button .btn{
    width: 100%;
}

.contact-us .single-head{
    height: auto;
}

.contact-bg{
    width: 40%;
    position: absolute;
    height: 100%;
    background: var(--black);
    right: 0;
}

/* ===========contact page css end========== */


/* ===========why tajurba page css end========== */

.why-icon-img{
    width: 30px;
    height: 30px;
}

.why-icon-img img{
    width: 100%;
}


#why-tajurba-page-section .about-left{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.why-icons{
    column-gap: 15px;
}

#why-tajurba-page-section .about-right, #why-tajurba-page-section-1 .about-right{
    width: 100%;
    height: 450px;
}

#why-tajurba-page-section .about-right img, #why-tajurba-page-section-1 .about-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#why-tajurba-page-section-1 .about-left{
    /* width: 100%;
    height: 100%;
    display: flex;
    align-items: center; */
}

/* #why-tajurba-page-section-1 .about-left::before{
    content: '';
    position: absolute;
    height:80%;
    width: 20%;
    background-color: var(--lava);
} */

#why-tajurba-page-section-1 .about-left {
    width: 80%;
    /* margin: 0 auto; */
    padding: 30px;
}

#why-tajurba-page-section-1{
    background-color: transparent;
}

#why-tajurba-page-section-1 .about-content{
    /* padding: 20px 30px; */
    margin-top: 40px;
}

.why-page-strip{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    background: var(--gunmetal);
    padding: 30px;
}

/* .why-strip-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.why-strip-content {
    width: 25%;
    height: 150px;
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ccc;
    flex-direction: column;
}

.why-strip-content h4 {
    font-size: 55px;
    color: #fff;
}

.why-strip-content p {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    color: #fff;
}

.why-strip-content:last-child{
    border: none;
}

/* ===========why tajurba page css end========== */


#upcoming-event-section img{
    filter: grayscale(1);
}

/* .navbar-area{
    border-bottom: 1px solid #ccc;
} */


/* ============life at tajurba page css start======== */

.first-img-wrapper .life-img-wrapper, .third-img-wrapper  .life-img-wrapper{
    height: 350px;
    overflow: hidden;
}

.life-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second-img-wrapper .life-img-wrapper{
    height: 450px;
    overflow: hidden;
}

.life-card-content{
    background: var(--gunmetal);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
    flex-direction: column;
    row-gap: 10px;
}

.life-card-content p{
    color: #fff;
    font-size: 16px;
}

.vid-icon{
    position: absolute;
    width: 75px;
    height: 75px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 6;
}

.vid-icon img{
    width: 100%;
}

/* .vid-icon::before{
    content: url(../images/life/play.png);
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

} */

/* ============life at tajurba page css end======== */


/* =========about us page css start========== */

.about-us-img{
    width: 100%;
    height: 450px;
    position: relative;
    z-index: 1;
}

.about-us-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
}

.about-us-img::before{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: var(--black);
    top: -50px;
    left: -50px;
    z-index: -1;
}

.about-us-content{
    padding: 31px;
}

.about-para p{
    font-size: 16px;
}

/* =========about us page css end========== */



/* =============media page css start========= */

#media-page .meta-details a{
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    background: var(--lava);
}


#media-page .single-news .image{
    height: 300px;
    border-radius: 0;
}

#media-page .single-news .image img{
    object-fit: cover;
}

/* =============media page css end========= */


/* =========our founders page css start============ */

.found-img{
    width: 100%;
    height: 450px;
    background: url('../images/founder/founder-1.jpeg');
    background-size: cover;
    filter: grayscale(1);
}

#our-founder-page .section-title h2 {
    font-size: 40px;
    /* text-transform: uppercase; */
}

/* .found-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.founder-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    background: var(--black);
    padding: 80px;
    text-align: center;
}

.founder-content p , .founder-content h2{
    color: #fff;
}

.uma-bg{
    background: url('../images/founder/founder-2.jpeg');
    background-size: cover;
}

/* =========our founders page css end============ */


/* ===========core team page css start============== */

.page-heading{
    font-size: 40px !important;
    text-transform: capitalize !important;
}

/* ===========core team page css end============== */


/*================= tajurba history page css start================ */

.history-img-wrapper{
    width: 100%;
    height: 500px;
}

.history-img-wrapper img{
    filter: grayscale(1);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.history-big-head{
    font-size: 42px;
    padding-right: 100px;
}

.history-content-wrapper p{
    padding-right: 80px;
}

.history-content-wrapper .section-title h2{
    font-size: 22px;
}

.single-chart h6{
    max-width: 70%;
    margin-top: 20px;
}
/*================= tajurba history page css end================ */


/* ===========upcoming events page css start=============== */

.events-date-wrapper h5{
    margin-bottom: 10px;
}
.events-date-wrapper h5::after{
    content: '';
    width: 20%;
    height: 2px;
    background-color: #ccc;
    display: block;
    position: absolute;
    left: 0;
}

.event-img-wrapper{
    width: 100%;
    height: 300px;
}

.event-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-title{
    padding-right: 10%;
}

.event-content-wrapper{
    /* padding-right: 20%; */
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.event-content-wrapper .button{
    width: 90%;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
}

.event-content-para{
    padding-right: 5%;
}

.event-divider{
    border-bottom: 1px solid #ccc;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.event-img-wrapper img{
    filter: grayscale(1);
}

.past-events .button .btn{
    background-color: var(--black) !important;
}

button:focus, input:focus, textarea:focus, .btn:focus{
    box-shadow: none !important;
    outline: 0 !important;
}

/* ===========upcoming events page css end=============== */

.contact-us .single-info ul li, .contact-us .single-info ul li a{
    font-size: 16px;
    letter-spacing: 1px;
}

.contact-us .contant-inner-title p {
    font-size: 16px;
}

img{
    filter: grayscale(1) !important;
}

.featured-img-wrapper img{
    filter: grayscale(0) !important;
}

.slider-bg-img-a{
    filter: grayscale(1);
}

.floating-btn{
    display: inline-block;
    background: var(--lava);
    /* color: #fff !important; */
    text-transform: capitalize;
    position: fixed;
    top: 50%;
    right: -25px;
    z-index: 99;
    transform: translateY(-50%);
    rotate: 90deg;
    margin: 0;
}



/* ========member strip css start============= */

#member-strip{
    background: url(../images/contact-bg.png);
}

#member-strip::before{
    opacity: 0.85;
}

#member-strip .section-title.white-text span, #member-strip .section-title.white-text p {
    font-size: 20px;
    margin-bottom: 20px;
}

#member-strip i{
    font-size: 20px;
    margin-left: 5px;
}
/* ========member strip css end============= */

.navbar-brand img{
    filter: grayscale(0) !important;
}

/* ===============find chapter css start================ */

/*form styles*/
#msform {
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	/* border-radius: 3px; */
	margin-bottom: 10px;
	/* width: 30%; */
	box-sizing: border-box;
	/* font-family: montserrat; */
	color: #2C3E50;
	font-size: 13px;
}

#msform input{
    background-color: var(--black) !important;
    border: none !important;
    color: var(--white) !important;

}

#msform input::placeholder{
    color: var(--white) !important;
}
/*buttons*/
#msform .action-button {
	/* width: 100px; */
	background: var(--lava) !important;
	font-weight: bold;
	color: white;
	border: 0 none;
	/* border-radius: 1px; */
	cursor: pointer;
    padding: 15px;
}
#msform .action-button:hover, #msform .action-button:focus {
	/* box-shadow: 0 0 0 2px white, 0 0 0 3px var(--lava); */
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 25%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #ffffff;
	background: var(--gunmetal);
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: var(--gunmetal);
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: var(--lava);
	color: white;
}

#msform input, #msform textarea {
    margin-right: 30px;
}

/* #msform fieldset:last-child{
    box-shadow: none;
} */


.chapter-wrapper{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--lava);
    color: #fff;
    padding: 20px;
}

.chapter-wrapper *{
    color: #ffffff;
}
.chapter-wrapper h4 {
    font-size: 18px;
}

.chapter-wrapper .chapter-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
/* ===============find chapter css end================ */



#upcoming-events .modal .modal-content{
    width: 70%;
    margin: 0 auto;
}

#upcoming-events .modal .modal-content input::placeholder{
    color: #fff;
}

#upcoming-events .modal .modal-content input{
    width: 100%;
    background: #000;
    border: 0;
    color: #fff;
    padding: 10px;
}


#upcoming-chapter-section .col-md-6 .chapter-wrapper{
    background-color: var(--lava) !important;
}

#upcoming-chapter-section .col-md-6:nth-child(2n+1) .chapter-wrapper{
    background-color: var(--black) !important;
}

/* #upcoming-even÷ */