<!-- Start Header Area -->
{{> user/header }}
<!-- End Header Area -->
<!-- Start Nav Area -->
{{> user/nav }}
<!-- End Nav Area -->

<!-- ============start page============= -->

<style>
    .navbar-area{
    border-bottom: 1px solid #ccc;
}
</style>

<section class="about-us section" id="lifeAtTajurba">
        <div class="container">
            <!-- <div class="row">
                <div class="col-12">
                    <div class="section-title align-left">
                    <h2 class="mb-0">Life @<span class="lava-color">tajurba</span> </h2>
                        <p class="sub-heading">life at tajurba</p>
                    </div>
                </div>
            </div> -->

            <div class="row">
                <div class="col-lg-6 p-5">
                    <div class="about-us-img">
                        <img src="/static/user/images/life/4.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-us-content">
                        <div class="section-title align-left mb-0">
                        <h2 class="mb-0">About <span class="lava-color">us</span> </h2>
                            <p class="sub-heading">about us</p>
                        </div>
                        
                        <div class="about-para mt-4">
                            <p class="mb-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam aliquid dolor dolores culpa tenetur molestiae omnis, veritatis voluptatum? Voluptatum impedit exercitationem laboriosam adipisci, et iure mollitia incidunt cumque expedita ut!</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, sed modi qui quia ut beatae nesciunt id. Odio, quaerat ea inventore atque at deleniti, dolore sint, quis officiis minus voluptas?Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quod doloremque quaerat, consectetur cupiditate expedita suscipit numquam at doloribus reprehenderit! Porro esse voluptatibus atque optio iure deleniti voluptates amet ratione.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>







<!-- ============end page============= -->

<!-- Start Footer Area -->
{{>user/footer}}
<!-- End Footer Area -->
<!-- Start Script Area -->
{{>user/scripts}}
<!-- End Script Area -->

</body>

</html>