<!-- Start Header Area -->
{{>user/header}}
<!-- End Header Area -->
<!-- Start Nav Area -->
{{>user/nav}}
<!-- End Nav Area -->
<style>
     .navbar-area {
        border-bottom: 1px solid #ccc;
    }
</style>

<!-- ============start page============= -->

<section id="contact-us" class="contact-us section" style="padding-bottom:100px">
    <div class="container">
        <div class="col-lg-10 mx-auto">
            <div class="row">
                <div class="contact-head wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s;">
                    <div class="row">
                        <div class="col-lg-5 col-12 order-1 p-0 d-flex align-items-center justify-content-center position-relative">
                            <div class="contact-bg"></div>
                            <div class="single-head">

                                <div class="single-info">
                                    <i class="lni lni-phone"></i>
                                    <ul>
                                        <li>+522 672-452-1120</li>
                                    </ul>
                                </div>
                                <div class="single-info">
                                    <i class="lni lni-envelope"></i>
                                    <ul>
                                        <li><a href="mailto:info@yourwebsite.com">example@yourwebsite.com</a></li>
                                    </ul>
                                </div>
                                <div class="single-info">
                                    <i class="lni lni-map"></i>
                                    <ul>
                                        <li>KA-62/1, Travel Agency, 45 Grand Central Terminal, New York.</li>
                                    </ul>
                                </div>
                                <div class="contact-social">
                                    <h5>Follow Us on</h5>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <span class="icon-1"><i class="lni lni-facebook-filled"></i></span>
                                                <span class="icon-2"><i class="lni lni-facebook-filled"></i></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="icon-1"><i class="lni lni-twitter-original"></i></span>
                                                <span class="icon-2"><i class="lni lni-twitter-original"></i></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="icon-1"><i class="lni lni-linkedin-original"></i></span>
                                                <span class="icon-2"><i class="lni lni-linkedin-original"></i></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="icon-1"><i class="lni lni-instagram"></i></span>
                                                <span class="icon-2"><i class="lni lni-instagram"></i></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="icon-1"><i class="lni lni-behance-original"></i></span>
                                                <span class="icon-2"><i class="lni lni-behance-original"></i></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-12 p-0">
                            <div class="form-main">
                                <div class="contant-inner-title">
                                    <h2 class="">Contact <span class="lava-color">Us</span></h2>
                                    <p>Business consulting excepteur sint occaecat cupidatat consulting non proident cupidatat consulting non proident.</p>
                                </div>
                                <form class="form" method="POST" action="/contact">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input name="pName" type="text" placeholder="Your Name" required="required">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input name="pSubject" type="text" placeholder="Your Subject" required="required">
                                            </div>
                                        </div>
                                        <!-- <div class="col-12">
                                            <div class="form-group">
                                                <input name="email" type="email" placeholder="Your Email" required="required">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input name="phone" type="text" placeholder="Your Phone" required="required">
                                            </div>
                                        </div> -->
                                        <div class="col-12">
                                            <div class="form-group message">
                                                <textarea name="message" rows="2" placeholder="Your Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group button">
                                                <button type="submit" class="btn ">Submit Message</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- ========================= End Page ========================= -->


<!-- Start Footer Area -->
{{>user/footer}}
<!-- End Footer Area -->
<!-- Start Script Area -->
{{>user/scripts}}
<!-- End Script Area -->

</body>

</html>