<!-- Start Header Area -->
{{>user/header}}
<!-- End Header Area -->
<!-- Start Nav Area -->
{{>user/nav}}
<!-- End Nav Area -->

<!-- ============start page============= -->

<!-- ============start page============= -->

<style>
    .navbar-area {
        border-bottom: 1px solid #ccc;
    }

    #msform fieldset>input {
        width: 30%;
    }

    .fieldWithoutPreBtn a {
        width: 30%;
    }

    .fieldWithPreBtn .action-button {
        width: 10% !important;
        margin-right: 10px;
    }
</style>


<!-- =========find meeting section start====== -->
<section class="section free-version-banner" id="find-meeting-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-left">
                    <h2 class="mb-0 ">find a <span class="lava-color">meeting</span> </h2>
                    <p class="sub-heading">member programs that suit your needs best</p>
                </div>
            </div>
        </div>

        {{!-- <div class="row">
            <div class="col-md-12">
                <div class="meeting-form position-relative">
                    <form class="d-flex align-items-center justify-content-between">
                        <input type="text" placeholder="State">
                        <input type="text" placeholder="City">
                        <div class="button mt-0">
                            <a href="" class="btn">find a chapter</a>
                        </div>
                    </form>
                </div>
            </div>
        </div> --}}
    </div>
</section>




<!-- multistep form -->
<form id="msform" onsubmit="return submitForm()">
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active">Account Setup</li>
        <li>Social Profiles</li>
        <li>Personal Details</li>
        <li>Personal Details</li>
    </ul>
    <!-- fieldsets -->
    <fieldset class="fieldWithoutPreBtn">
        <h2 class="fs-title mb-5">Enter your location details</h2>
        {{!-- <h3 class="fs-subtitle">This is step 1</h3> --}}
    {{!-- <form action=""> --}}
        {{!-- <div class="form-items"> --}}
            <input type="text" name="name" id="name" placeholder="Name" />
            <input type="text" name="profession" placeholder="Profession" />
            <a name="next" formaction="" class="next action-button text-capitalize">Next</a>
    {{!-- </form> --}}
            {{!--
        </div> --}}
    </fieldset>
    <fieldset class="fieldWithPreBtn">
        <h2 class="fs-title">Social Profiles</h2>
        <h3 class="fs-subtitle">Your presence on the social network</h3>
        {{!-- <div class="form-items"> --}}
            <input type="text" placeholder="City" name="city" id="search-google" />
            <input type="text" name="state" placeholder="State" />
            {{!-- <div class="find-btn-wrapper"> --}}
                <a name="previous" class="previous action-button">Previous</a>
            {{!-- </div> --}}
            <button formaction="/findChapter?_method=get" name="next" class="next action-button">Next</button>
            {{!--
        </div> --}}
        {{!--
        </div> --}}
    </fieldset>
    <fieldset class="fieldWithPreBtn">
        <h2 class="fs-title">Personal Details</h2>
        <h3 class="fs-subtitle">We will never sell it</h3>
        {{!-- <div class="form-items"> --}}
            <input type="text" name="email" placeholder="Email" />
            <input type="number" name="mobile" placeholder="Mobile" />
            {{!-- <div class="find-btn-wrapper-2"> --}}
                <a name="previous" class="previous action-button">Previous</a>
                <button type="submit" name="next" class="next action-button">See Chapters</button>
                {{!--
            </div> --}}
            {{!--
        </div> --}}
    </fieldset>
{{!-- </form> --}}
    <fieldset class="fieldWithPreBtn text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="chapter-wrapper">
                        <div class="chapter-left-content chapter-content">
                            <div>
                                <p>Tajurba</p>
                                <h4>Tajurba first chapter</h4>
                            </div>
                            <h4>Date : 22/02/23</h4>
                        </div>
                        <div class="chapter-right-content chapter-content">
                            <div>
                                <h6>Wednesday 7 AM</h6>
                                <h6></h6>
                            </div>
                            <h6>{{chapter_venue}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>


<section class="section" id="upcoming-chapter-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="chapter-wrapper">
                    <div class="chapter-left-content chapter-content">
                        <div>
                            <p>Tajurba</p>
                            <h4>Tajurba first chapter</h4>
                        </div>
                        <h4>Date : 22/02/23</h4>
                    </div>
                    <div class="chapter-right-content chapter-content">
                        <div>
                            <h6>Wednesday 7 AM</h6>
                            {{!-- <h6></h6> --}}
                        </div>
                        <h6>Sangam Vihar Auditorium</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- =========find meeting section end====== -->











<!-- ============end page============= -->

<!-- Start Footer Area -->
{{>user/footer}}
<!-- End Footer Area -->
<!-- Start Script Area -->
{{>user/scripts}}
<!-- End Script Area -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script>


    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $(".next").click(function () {
        if (animating) return false;
        animating = true;

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();

        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({ opacity: 0 }, {
            step: function (now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50) + "%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({
                    'transform': 'scale(' + scale + ')',
                    'position': 'absolute'
                });
                next_fs.css({ 'left': left, 'opacity': opacity });
            },
            duration: 800,
            complete: function () {
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".previous").click(function () {
        if (animating) return false;
        animating = true;

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //de-activate current step on progressbar
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //show the previous fieldset
        previous_fs.show();
        //hide the current fieldset with style
        current_fs.animate({ opacity: 0 }, {
            step: function (now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale previous_fs from 80% to 100%
                scale = 0.8 + (1 - now) * 0.2;
                //2. take current_fs to the right(50%) - from 0%
                left = ((1 - now) * 50) + "%";
                //3. increase opacity of previous_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({ 'left': left });
                previous_fs.css({ 'transform': 'scale(' + scale + ')', 'opacity': opacity });
            },
            duration: 800,
            complete: function () {
                current_fs.hide();
                animating = false;
                previous_fs.css({ 'position': 'relative' });
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    {{!-- $(".submit").click(function () {
        return false;
    }); --}}



    function submitForm(){
        var name =  document.getElementsByTagName('input')[0];
        var profession =  document.getElementsByTagName('input')[1];
        var city =  document.getElementsByTagName('input')[2];
        var state =  document.getElementsByTagName('input')[3];
        var email =  document.getElementsByTagName('input')[4];
        var mobile =  document.getElementsByTagName('input')[5];

        console.log(name.value)

        var req = new XMLHttpRequest();

        req.open('POST', '/findChapter');
        req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        req.send("name="+name.value+"&profession="+profession.value+"&city="+city.value+"&state="+state.value+"&email="+email.value+"&mobile="+mobile.value);


        req.onreadystatechange = function(){
            if(req.readyState == 4 && req.status == 200 ){
                console.log(req.responseText)
            }
        }

        return false;
    }



</script>

{{!--
<script type="text/javascript">
    $(function () {
        $("#search-google").autocomplete({
            name: 'search-google',
            source: 'http://localhost:3000/search?key=%QUERY',
            limit: 4
        });
    });
</script> --}}

</body>

</html>