<!-- Start Header Area -->
{{>user/header }}
<!-- End Header Area -->
<!-- Start Nav Area -->
{{>user/nav }}
<!-- End Nav Area -->

<!-- ============start page============= -->

<style>
    .navbar-area{
    border-bottom: 1px solid #ccc;
}
</style>

<section class="about-us section" id="lifeAtTajurba">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title align-left">
                    <h2 class="mb-0">Life @<span class="lava-color">tajurba</span> </h2>
                        <p class="sub-heading">life at tajurba</p>
                    </div>
                </div>
            </div>

            <div class="row mb-sm-3">
                <div class="col-lg-8">
                    <div class="first-img-wrapper">
                        <div class="life-img-wrapper">
                            <img src="/static/user/images/life/1.jpeg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="first-img-wrapper">
                        <div class="life-img-wrapper">
                            <img src="/static/user/images/life/2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-sm-3">
                <div class="col-lg-4">
                    <div class="second-img-wrapper">
                        <div class="life-img-wrapper">
                            <img src="/static/user/images/life/3.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="second-img-wrapper overlay">
                        <div class="life-img-wrapper position-relative">
                            <div class="vid-icon">
                                <img src="/static/user/images/life/play.png" alt="">
                            </div>
                            <img src="/static/user/images/life/4.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="second-img-wrapper">
                        <div class="life-img-wrapper">
                            <img src="/static/user/images/life/5.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-sm-3">
                <div class="col-lg-8 order-1">
                    <div class="third-img-wrapper">
                        <div class="life-img-wrapper">
                            <img src="/static/user/images/life/6.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="third-img-wrapper">
                        <div class="life-img-wrapper">
                            <img src="/static/user/images/life/7.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="second-img-wrapper">
                        <div class="life-img-wrapper">
                            <img src="/static/user/images/life/8.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="second-img-wrapper">
                        <div class="life-img-wrapper">
                            <img src="/static/user/images/life/3.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="second-img-wrapper">
                        <div class="life-img-wrapper">
                            <div class="life-card-content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sunt animi maiores doloremque beatae quo vel provident molestias quisquam, doloribus voluptatum recusandae dolor saepe rem ipsa repellendus eaque iusto nulla. lore</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, atque! Molestias nulla et, assumenda sint nobis voluptas qui. Rerum quasi commodi nobis iusto error adipisci eveniet amet tenetur ea ab!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>







<!-- ============end page============= -->

<!-- Start Footer Area -->
{{>user/footer}}
<!-- End Footer Area -->
<!-- Start Script Area -->
{{>user/scripts}}
<!-- End Script Area -->

</body>

</html>