<!-- Start Header Area -->
{{>user/header}}
<!-- End Header Area -->
<!-- Start Nav Area -->
{{>user/nav}}
<!-- End Nav Area -->

<!-- ============start page============= -->

<style>
    .navbar-area{
    border-bottom: 1px solid #ccc;
}
</style>

<!-- ====member program section start======= -->

<section class="section" id="member-program-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title align-left">
                    <h2 class="mb-0 ">member <span class="lava-color">program</span> </h2>
                    <p class="sub-heading">member programs that suit your needs best</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-3 p-0">
                <div class="left-grid-wrapper gunmetal-bg member-grid-wrapper d-flex flex-column justify-content-between">
                    <div class="grid-title-wrapper">
                        <h3 class="text-white text-uppercase mb-2">Bronze</h3>
                        <p class="text-white text-capitalize">complete business & life mastery</p>
                    </div>
                    <ul>
                        <li>Access to one year extensive group coaching program By Suresh Mansharamani (Value Rs. 8 Lacs)</li>
                        <li>Region wise mastermind groups</li>
                        <li>Access to All India Members of all Platinum, Gold, Silver & Bronze Groups (In App Only)</li>
                        <li>Membership Fees Rs. 1,25,000.00 + GST</li>
                    </ul>
                    <div class="button">
                        <a href="" class="btn white-bg text-dark">join now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-0">
                <div class="left-grid-wrapper member-grid-wrapper d-flex flex-column justify-content-between">
                    <div class="grid-title-wrapper">
                        <h3 class="text-white text-uppercase mb-2">Silver</h3>
                        <p class="text-white text-capitalize">Tajurba business & life mastery</p>
                    </div>
                    <ul>
                        <li>Access to one year extensive group coaching program By Suresh Mansharamani (Value Rs. 8 Lacs)</li>
                        <li>Region wise mastermind groups</li>
                        <li>Access to All India Members of all Platinum, Gold, Silver & Bronze Groups (In App Only)</li>
                        <li>Membership Fees Rs. 1,25,000.00 + GST</li>
                    </ul>
                    <div class="button">
                        <a href="" class="btn">join now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-0">
                <div class="mid-grid-wrapper member-grid-wrapper d-flex flex-column justify-content-between">
                    <div class="grid-title-wrapper">
                        <h3 class="text-white text-uppercase mb-2">gold</h3>
                        <p class="text-white text-capitalize">Tajurba Business Network</p>
                    </div>
                    <ul>
                        <li>Exclusive business category based chapter structure. Fortnightly Meetings.</li>
                        <li>Access to 10 chosen clusters in Tajurba App. Entitled to access through all Tajurba Gold, Silver & Bronze Member’s Profile in 10 clusters.</li>
                        <li>Buying requirements to be floated to Silver & Bronze in phased manner, if not served by Gold Members.</li>
                        <li>Membership Fees Rs. 22,000.00 + Rs. 4,000.00 one time Registration + 18% GST.</li>
                    </ul>
                    <div class="button">
                        <a href="" class="btn">join now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-0">
                <div class="right-grid-wrapper member-grid-wrapper d-flex flex-column justify-content-between">
                    <div class="grid-title-wrapper">
                        <h3 class="text-uppercase mb-2">Platinum</h3>
                        <p class="text-capitalize">Tajurba Game Changers</p>
                    </div>
                    <ul>
                        <li>Access to own cluster’s Silver & Bronze members in Tajurba App.</li>
                        <li>Complimentary Six Saturdays online training by Suresh Mansharamani ( Value Rs. 1,57,000.00)</li>
                        <li>Number based chapter (100 active members in one chapter without category exclusivity)</li>
                        <li>Restricted Product/ Services Promotion to Silver & Bronze Category of the home cluster</li>
                        <li>Membership Fees Rs. 5,000.00 + 18% GST</li>
                    </ul>
                    <div class="button">
                        <a href="" class="btn">join now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ====member program section end======= -->






<!-- ============end page============= -->

<!-- Start Footer Area -->
{{>user/footer}}
<!-- End Footer Area -->
<!-- Start Script Area -->
{{>user/scripts}}
<!-- End Script Area -->

</body>

</html>