<!-- Start Header Area -->
{{>user/header}}
<!-- End Header Area -->
<!-- Start Nav Area -->
{{>user/nav}}
<!-- End Nav Area -->

<!-- ============start page============= -->

<style>
    .navbar-area {
        border-bottom: 1px solid #ccc;
    }
</style>

<section id="our-founder-page" class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title align-left">
                    <h2 class="mb-0 text-center">our <span class="lava-color"> founders</span> </h2>
                    <!-- <p class="sub-heading">our founders</p> -->
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-6 p-0">
                <div class="founder-content">
                    <h2>Suresh Mansharmani</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio delectus, reprehenderit similique, ducimus iste tenetur amet earum quidem, eaque quo quas dignissimos itaque vero incidunt quis tempora iusto. Quasi, animi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minima? Sapiente cum suscipit earum velit quis quam sit sunt placeat ut? Aliquid reprehenderit alias qui vitae quas incidunt, eveniet natus?</p>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio delectus, reprehenderit similique, ducimus iste tenetur amet earum quidem, eaque quo quas dignissimos itaque vero incidunt quis tempora iusto. Quasi, animi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minima? Sapiente cum suscipit earum velit quis quam sit sunt placeat ut? Aliquid reprehenderit alias qui vitae quas incidunt, eveniet natus?</p> -->
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="found-img">
                    <!-- <img src="static/images/founder/founder-1.jpeg" alt=""> -->
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-lg-6 order-1 p-0">
                <div class="founder-content lava-bg ">
                    <h2>Uma Mansharmani</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio delectus, reprehenderit similique, ducimus iste tenetur amet earum quidem, eaque quo quas dignissimos itaque vero incidunt quis tempora iusto. Quasi, animi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minima? Sapiente cum suscipit earum velit quis quam sit sunt placeat ut? Aliquid reprehenderit alias qui vitae quas incidunt, eveniet natus?</p>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio delectus, reprehenderit similique, ducimus iste tenetur amet earum quidem, eaque quo quas dignissimos itaque vero incidunt quis tempora iusto. Quasi, animi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minima? Sapiente cum suscipit earum velit quis quam sit sunt placeat ut? Aliquid reprehenderit alias qui vitae quas incidunt, eveniet natus?</p> -->
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="found-img uma-bg">
                    <!-- <img src="static/images/founder/founder-1.jpeg" alt=""> -->
                </div>
            </div>
        </div>
    </div>
</section>







<!-- ============end page============= -->

<!-- Start Footer Area -->
{{>user/footer}}
<!-- End Footer Area -->
<!-- Start Script Area -->
{{>user/scripts}}
<!-- End Script Area -->

</body>

</html>