<!-- Start Header Area -->
{{>user/header }}
<!-- End Header Area -->
<!-- Start Nav Area -->
{{>user/nav }}
<!-- End Nav Area -->
<!-- ============start page============= -->

<style>
    .navbar-area{
    border-bottom: 1px solid #ccc;
}
</style>

<section class="about-us section" id="why-tajurba-page-section-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 order-1 order-sm-0">
                    <div class="about-left position-relative">
                        <div class="section-title align-left mb-0">
                            <!-- <span class="wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s;">What we do</span> -->
                            <!-- <h2 class="wow fadeInUp mb-0 pb-0" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s;">why tajurba</h2> -->
                            <h2 class="mb-0">why <span class="lava-color">tajurba</span> </h2>
                            <p class="sub-heading">why tajurba</p>
                        </div>
                        <div class="about-content">
                            <p class="mb-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda dicta exercitationem aliquam eveniet atque, repudiandae, quisquam laudantium voluptatum architecto excepturi nostrum magni quos, natus provident eius esse inventore quod rerum.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos asperiores animi eligendi doloribus repellendus iure veritatis sequi quam dolore ratione exercitationem unde incidunt minima vero pariatur beatae illo, ipsam labore.</p>
                        </div>
                        <div class="why-btn button mt-4">
                            <a href="contact.php" class="btn">contact us </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 p-0">
                    <div class="about-right wow fadeInRight" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s;">
                        <img src="/static/user/images/upcoming-event/upcoming-event-1.png" alt="#">
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="counter">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="why-page-strip">
                        <div class="why-strip-content">
                            <h4 class="countup" cup-end="15">0</h4>
                            <p>present countries</p>
                        </div>
                        <div class="why-strip-content">
                            <h4 class="countup" cup-end="185">0</h4>
                            <p>present countries</p>
                        </div>
                        <div class="why-strip-content">
                            <h4 class="countup" cup-end="200">0</h4>
                            <p>present countries</p>
                        </div>
                        <div class="why-strip-content">
                            <h4 class="countup" cup-end="5">0</h4>
                            <p>present countries</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="about-us d-none" id="why-tajurba-page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 d-flex align-items-center">
                    <div class="about-left">
                        <div class="section-title align-left mb-0">
                            <!-- <span class="wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s;">What we do</span> -->
                            <h2 class="wow fadeInUp mb-0 pb-0" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s;">Grow Your Business Multifold</h2>
                            <!-- <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s;">We're a digital product and UX agency Strategy,
                                design
                                and development across all platforms.</p> -->
                        </div>
                        <ul>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting</li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting</li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting</li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting</li>
                        </ul>

                        <div class="why-icons-wrapper d-flex align-items-center justify-content-between">
                            <div class="why-icons d-flex align-items-center">
                                <div class="why-icon-img">
                                    <img src="static/images/why-tajurba/plus.png" alt="">
                                </div>
                                <p>lorem <br> Ipsum</p>
                            </div>
                            <div class="why-icons d-flex align-items-center">
                                <div class="why-icon-img">
                                    <img src="static/images/why-tajurba/user.png" alt="">
                                </div>
                                <p>lorem <br> Ipsum</p>
                            </div>
                            <div class="why-icons d-flex align-items-center">
                                <div class="why-icon-img">
                                    <img src="static/images/why-tajurba/countries.png" alt="">
                                </div>
                                <p>lorem <br> Ipsum</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="about-right wow fadeInRight" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s;">
                        <img src="static/images/why-tajurba/build-net.png" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </section>







<!-- ============end page============= -->

<!-- Start Footer Area -->
{{>user/footer}}
<!-- End Footer Area -->
<!-- Start Script Area -->
{{>user/scripts}}
<!-- End Script Area -->


<script>
    var a = 0;
    $(window).scroll(function() {
    var oTop = $('#counter').offset().top - window.innerHeight;
    console.log(oTop)

    if (a == 0 && $(window).scrollTop() > oTop) {
        // console.log("running")
        var cu = new counterUp({
        start: 0,
        duration: 2000,
        intvalues: true,
        interval: 100,
        append: "+",
    });
        cu.start();
        a++;
    }
});
</script>


</body>

</html>